body{
  background-color: #F6F6F6;
  font-family: 'Open Sans', sans-serif;
}

.content{
  width: 30%;
  margin-left: 2%;
  margin-right: auto;
}

.head{
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px;
}

p{
  margin: 0;
  padding: 0;
}

h3{
  color: #696969;
}

a{
  color: black;
  text-decoration: underline;
}
