body{
  background-color: #F6F6F6;
}

.content{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
}

.head{
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px;
}

p{
  margin: 0;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
}
